name: Publish to crates.io

on:
  workflow_dispatch:

jobs:
  publish:
    permissions:
      contents: read

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v3.0.0
        with:
          versionSpec: 5.x

      - name: Determine Version
        id: determine
        uses: gittools/actions/gitversion/execute@v3.0.0
        with:
          useConfigFile: true

      - name: Version Summary
        shell: pwsh
        run: |
          echo "Version: ${{ steps.determine.outputs.majorMinorPatch }}" >> "$GITHUB_STEP_SUMMARY"

      # - name: Install Rust toolchain
      #   uses: actions-rs/toolchain@v1
      #   with:
      #     toolchain: stable
      #     profile: minimal
      #     override: true

      # - name: Install depedencies
      #   run: sudo apt-get update && sudo apt-get install -y libudev-dev pkg-config

      - name: Strip Template from Workspace
        run: |
          sed -i 's/, "template\/crates\/\*"\s*//g' Cargo.toml

      - name: Replace version
        run: |
          sed -i '/^\[workspace\.package\]/,/^\[.*\]/{s/^version = ".*"/version = "${{ steps.determine.outputs.FullSemVer }}"/}' Cargo.toml

      - name: Publish to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          cargo publish

      - name: Git Tag
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
        shell: pwsh
        env:
          NAME: "github-actions[bot]"
          VERSION: "${{ steps.determine.outputs.FullSemVer }}"
        run: |
          git config user.name "$NAME"
          git config user.email "$NAME@users.noreply.github.com"

          tagExists=$(git tag --list "$VERSION")

          if [ -z "$tagExists" ]; then
              git tag "$VERSION"
              git push origin "$VERSION"
              echo "Tagged: $VERSION"
          else
              echo "Tag already exists"
          fi

          exit 0
